.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.square {
    border: solid;
    flex: 1 0 5.882%;
    height: 50px;
}

.colorChange {
    background-color: blue;
}

.btn {
    margin-left: 45%;
    margin-bottom: 10px;
    height: 60px;
    width: 120px;
    background-color: blue;
    color: white;
    font-size: medium;
    font-weight: bold;
}